Checks: >
  -*,
  cppcoreguidelines-*,
  bugprone-*,
  modernize-*,
  performance-*,
  -modernize-use-trailing-return-type,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -cppcoreguidelines-pro-type-reinterpret-cast,
  -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
  -cppcoreguidelines-init-variables,
  -cppcoreguidelines-avoid-c-arrays,
  -cppcoreguidelines-special-member-functions,
  -cppcoreguidelines-owning-memory
WarningsAsErrors: ''
HeaderFilterRegex: 'src/.*'
FormatStyle: file
